
@{
    ViewBag.Title = "Index";
}

<h2>CarsForSale.com</h2>

<!--Some sort of carousel displaying car stuff-->

@Html.ActionLink("See Our Inventory", "Find", "Cars", null, new { @class = "btn btn-primary btn-lg" })
