
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <h2>Index</h2>
</div>
<div class="row">
    @Html.ActionLink("View Policies", "SelectViewCategory", "Policy")
</div>

<div class="row">
    @Html.ActionLink("Manage Policies", "ManagePolicies", "Policy")
</div>

<div class="row">
    @Html.ActionLink("Manage Categories", "ManageCategories", "Policy");
</div>


